@mixin vipcoin-icon ($width, $height, $background, $icon-text, $font-size, $font-weight) {
    width: $width;
    height: $height;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 

    &::before { /* Rhombus overlay pseudo-element */
        content: "";
        position: absolute;
        top: 15%;
        left: 15%; 
        // transform: translate(-50%, -50%);
        width: 69.76%;
        height: 69.76%;
        background: $background;
        transform: rotate(45deg);
    }

    &::after { /* White text pseudo-element */
        content: $icon-text;
        position: absolute;
        // top: 50%;
        // left: 50%;
        width: 100%;
        text-align: center;
        // transform: translate(-50%, -50%);
        color: white;
        font-size: $font-size;
        font-weight: $font-weight;
    }
}


@font-face {
    font-family: 'Lato-Medium';
    src: 
      url('/src/Fonts/Lato-Medium.ttf') format('truetype'),
}

%h1-h2-font {
    font-size: 110px;
    font-family: "Lato-Medium";
    font-weight: 500;
}

%button-style {
    height: 70px;
    background-color: #FF3333;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 31px;
    padding: 20px 22px;
}