@import 'mixins&extends';
@import 'variables';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: FuturaPT-Book;
    font-size: 17px;
    color: #FFFFFF;
}

@font-face {
    font-family: 'FuturaPT-Book';
    src: 
      url('/src/Fonts/FuturaPT-Book.ttf') format('truetype'),
}

.container {
    max-width: 1396px;
    width: 100%;
    margin: auto;
    padding: 0 16px;
}

ul {
    list-style: none;
}
button {
    border: none;
}

.header, .footer {
    background-color: #000000;
}

.header {
    margin-bottom: -1px;
}
.footer {
    margin-top: -1px;
}

.header-container, .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;

    .vipcoin-icon {
        @include vipcoin-icon (86px, 86px, var(--rhombus-color-gradient), "VIP COIN", 16px, 400);
    }
}
        
.nav__list {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    gap: 28px;

    li {
        cursor: pointer;
    }
}

.social-networks {
    display: flex;
    column-gap: 20px;
    align-items: center;

    a{
        text-decoration: none;
    }
}

.sign-in {
    display: flex;
    align-items: center;
    column-gap: 10px;
            
    p {
        color: #FF3333;
        cursor: pointer;
    }
}

.introduction {
    background-color: #000000;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 62.7vw;
        height: 516px;
        left: 2%;
        top: 10px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 51, 51, 0.5) 0%, rgba(255, 51, 51, 0) 100%);
        z-index: 0;
    }
}

.introduction__title {
    margin:auto;
    padding: 104px 0 290px;
    max-width: 1170px;
    position: relative;
    z-index: 1;
    
    .vipcoin-icon {
        @include vipcoin-icon (141.42px, 141.42px, var(--rhombus-color-gradient), "VIP COIN", 24px, 400);
        position: absolute;
        top: 20%;
        left: 80%;
    }

    h1 {
        @extend %h1-h2-font;
    }
}

.introduction__title-part2 {
    position: absolute;
    top: 45%;
    left: 9%;
}

.introduction__text-button {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    margin-top: 50px;
    padding-bottom: 120px;

    button {
        @extend %button-style;
    }
}

.introduction__text {
    max-width: 303px;
    font-size: 24px;
    font-weight: 400;
    line-height: 130%;
}


.packet-slider-section {
    margin-bottom: 100px;
}

.packet-slider__title-text {
    display: flex;
    justify-content: center;
    column-gap: 248px;
    align-items: end;
    margin-top: 100px;
}

.packet-slider__title {
    color: #000000;
    @extend %h1-h2-font;
    margin-bottom: 20px;
}

.packet-slider__text {
    color: #000000;
    font-size: 24px;
}

 .packet-slider__main-wrapper {
    display: flex;
    align-items: center;
    margin-top: 58px;
    justify-content: center;
}
    
.packet-slider__prev-button, .packet-slider__next-button {
    width: 60px;
    height: 60px;
    background-color: #FF3333;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: all 1s ease;
}

.packet-slider__prev-button:hover, .packet-slider__next-button:hover {
    background-color: #ff6060;
}

.packet-slider__prev-button:active, .packet-slider__next-button:active {
    transform: scale(0.9);
}

.packet-slider__prev-button svg {
    margin: 3px 9px 0 0;
}

.packet-slider__next-button svg{
    margin: 3px 0 0 7px;
}

.packet-slider {
    margin: 0 11.5px;
}

.packet-slider__wrapper{
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    width: 100%;
    margin-bottom: 20px;
}
        
.packet-slider__slide{
    margin: 0 !important; /* Remove any margin from slides */
    width: max-content !important;
    padding: 20px 18.5px;
}
                    
.packet-slider__packet {
    width: 250px;
    background: #FFFFFF;
    border: 2px solid #FF3333;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 42.4px;
    padding: 42.4px 0 30px;
    position: relative;
    will-change: transform;
    transition: all 1s ease;
}

.packet-slider__packet:hover {
    transform: scale(1.05) translateZ(0);
    z-index: 3;
    position: relative;
    cursor: pointer;
    transform-origin: center;
}

.packet__price {
    font-weight: 600;
    font-size: 50px;
    line-height: 130%;
    color: #FF3333;
    margin-top: 20.15px;
}

.packet__percent-rate, .packet__term {
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
    margin-top: 10px;

    span {
        font-weight: 600;
        font-size: 24px;
        line-height: 130%;
        color: #000000;
    }
}

.packet__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 130%;
    color: #000000;
    margin-top: 50px;
}

.packet__rhombus {
    @include vipcoin-icon (84.85px, 84.85px, var(--rhombus-color-red), "VIP", 24px, 400);
    position: absolute;
    top: -86.84px;
    left: 42.42px;
    transform: translate(50%, 51%);
}

.swiper-pagination {
    padding-top: 30px !important;
}

.road-map-section {
    background-color: #000000;
    position: relative;
    padding: 100px 0;

    &::after {
        content: "";
        position: absolute;
        max-width: 1920px;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 1150px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 51, 51, 0.5) 0%, rgba(255, 51, 51, 0) 100%);
        z-index: 0;
    }
}

.road-map__title-text {
    display: flex;
    gap: 151px;
    align-items: end;
    margin-left: 125px
}

.road-map__title {
    @extend %h1-h2-font;
    z-index: 1;
}

.road-map__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    max-width: 288px;
    width: 100%;
    z-index: 1;
    margin-bottom: 18px;
}

.road-map__table {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(5, 250px);
    grid-template-rows: repeat(3, 260px);
    gap: 30px;
}

.road-map__element-wrapper { //Для создания градиентной границы у блока
    position: relative;
    border-radius: 8px; 
    padding: 1px; 
    background: linear-gradient(145deg, #3b3a3a 40%, #2f2e2e00 75%); 
    z-index: 1;
}

.road-map__element {
    background: linear-gradient(130.66deg, rgba(255, 255, 255, 0.3) -19.06%, rgba(255, 255, 255, 0) 31.37%), #000000;
    box-shadow: -5px -5px 20px rgba(0, 0, 0, 0.3), inset 30px 30px 36px rgba(21, 21, 21, 0.5);
    border-radius: 8px;
    padding: 20px;
    position: relative;
    width: 100%;
    height: 100%;
}

.road-map__element__period {
    font-size: 14px;
    line-height: 130%;
}

.road-map__element__description {
    font-size: 20px;
    line-height: 130%;
    margin-top: 20px;
}











